.topowe {
    position: relative;
    width: 100%; /* Zmiana szerokości na 100% */
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Zmiana kierunku flexbox na kolumnowy */
    align-items: flex-start; /* Wyśrodkowanie elementów w osi Y */
    margin-bottom: 20px;
    overflow: hidden;
}

.text1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    /* Szerokość napisów wynosi 25% szerokości kontenera */
    background-color: rgba(255, 255, 255, 0.7);
    /* Dodajemy tło dla napisów */
    padding: 10px;
    /* Dodajemy wypełnienie wokół napisów */
    box-sizing: border-box;
    margin-top: 50px;
}

.captions1,
.captions {
    position: absolute;
    top: 0; /* zmieniona pozycja na górę */
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    box-sizing: border-box;
    margin-top: -20px; /* zmieniony margines górny */
}

.text {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    /* Szerokość napisów wynosi 25% szerokości kontenera */
    background-color: rgba(255, 255, 255, 0.7);
    /* Dodajemy tło dla napisów */
    padding: 10px;
    /* Dodajemy wypełnienie wokół napisów */
    box-sizing: border-box;
    margin-top: 50px;
}

.zdjecie1 {
    position: relative;
}

.zdjecie img {
    display: block;
    margin: 0 auto;
    position: relative;
    left: 0;
    transition: transform 0.3s ease;
    width: 650px;
    height: 550px;
    z-index: 1;
    border-radius: 20px;
    border: 1px solid black;
}

.zdjecie:hover img {
    transform: translateX(+70%);
    /* Przesunięcie zdjęcia w lewo o 25% szerokości kontenera po najechaniu myszką */
}

.ramka {
    position: relative;
    overflow: hidden;
    height: 400px;
    /* Możesz dostosować wysokość sekcji hero */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 150px;
}

.nav-links {
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ramka-content {
    max-width: 800px;
    border-radius: 30px;
    color: black;
    padding: 0px;
    position: absolute;
    width: 800px;
    height: 300px;
}

.ramka-produkt {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

.poprzedni,
.nastepny {
    background-color: rgba(192, 192, 192, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 20%;
    display: none;
}

.poprzedni {
    left: 10px;
}

.nastepny {
    right: 10px;
}

.ramka-content:hover .poprzedni,
.ramka-content:hover .nastepny {
    display: block;
}

.poprzedni:hover,
.nastepny:hover {
    background-color: rgba(150, 150, 150, 0.7);
    /* Zmiana koloru tła po najechaniu myszką */
}

.bestseller {
    width: 100%;
    /* Rozciągnięcie bestsellerów na całą szerokość ekranu */
    height: 60px;
    /* Możesz dostosować wysokość sekcji bestsellerów */
    background-size: cover;
    background-position: center;
    background-color: rgba(177, 175, 175, 0.308);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.bestseller .x {
    color: #000000;
    font-style: italic;
}

.produkty {
    position: relative;
    padding: 20px;
}

.products-wrapper {
    display: flex;
    /* Ustaw kontener produktów na flexbox */
    overflow-x: hidden;
    /* Dodaj przewijanie poziome */
}

.product {
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    width: 650px; /* Increase the width */
    height: 550px; /* Increase the height */
    margin-right: 120px;
    margin-left: 20px;
    margin-bottom: 40px;
    /* Adjust margins as needed */
    flex-shrink: 0;
    overflow: hidden; /* Ensure content does not overflow */
}

.product a {
    display: block;
    /* Make the entire product area clickable */
    text-decoration: none;
}

.product img {
    width: 100%; /* Set width to 100% of the container */
    height: 100%; /* Set height to 100% of the container */
    border-radius: 15px;
    position: relative;
    z-index: 2;
}

.product-info {
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    text-align: center; /* Center text */
}


.product:hover .product-info {
    opacity: 1;
}

.product p.price, .product p.description {
    color: black;
    /* Set text color */
    margin: 0;
    /* Remove default margin */
    padding: 10px;
    /* Add padding */
}



.product:last-child {
    margin-right: 0;
    /* Usuwa margines po ostatnim produkcie */
}

.prev,
.next {
    background-color: rgba(192, 192, 192, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 20%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(150, 150, 150, 0.7);
    /* Zmiana koloru tła po najechaniu myszką */
}

.search-container {
    border-radius: 20px;
    /* zaokrąglenie rogów */
    padding: 10px;
    /* wewnętrzny odstęp */
}

/* Dodatkowy padding dla pola wyszukiwania */
.search-container input[type="text"] {
    padding: 10px;
    /* przykładowy padding */
    border-radius: 20px 0px 0px 20px;
}

/* Stylizacja przycisku wyszukiwania */
.search-container button {
    border-radius: 0 20px 20px 0;
    /* zaokrąglenie rogów */
    padding: 10px 10px;
    /* padding */
}

.results {
    text-align: left;
    /* Ustawienie zawartości wyników do lewej */
    margin-top: 20px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffc107;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        padding: 20px;
        z-index: 1;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-icon {
        display: flex;
    }

    .menu-icon.active .line:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-icon.active .line:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active .line:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
